<?xml version="1.0" encoding="UTF-8"?>
<web-app id="jbo-city-app" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath*:META-INF/application-context.xml,
		classpath*:META-INF/app-context-c3p0.xml
		</param-value>
	</context-param>
	<!--
		<filter> <filter-name>SimplePageCachingFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		</filter>
	-->

	<filter>
		<filter-name>jbo-city</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
		<init-param>
			<param-name>configuration</param-name>
			<param-value>development</param-value>
		</init-param>
	</filter>
	<!--
		<filter-mapping> <filter-name>SimplePageCachingFilter</filter-name>
		<url-pattern>/*</url-pattern> </filter-mapping>
	-->
	<filter-mapping>
		<filter-name>jbo-city</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- ======================================================================	-->
	<!--	R E M O T E B I N D I N G S E R V L E T-->
	<!-- ====================================================================== -->
	<servlet>
		<servlet-name>RMI</servlet-name>
		<servlet-class>org.dms.repository.servlets.JcrRepositoryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>RMI</servlet-name>
        <url-pattern>/jcrRemote</url-pattern>
    </servlet-mapping>
    
    <!-- ======================================================================	-->
	<!--	F I L E S E R V L E T - DISPLAY AND DOWNLOAD-->
	<!-- ====================================================================== -->
	<servlet>
		<servlet-name>FILE</servlet-name>
		<servlet-class>org.dms.repository.servlets.JcrFileServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>FILE</servlet-name>
        <url-pattern>/jcrFile</url-pattern>
    </servlet-mapping>
    
    <!-- ======================================================================	-->
	<!--	U P L O A D F I L E - S E R V L E T -->
	<!-- ====================================================================== -->
    <servlet>
		<servlet-name>UPLOAD</servlet-name>
		<servlet-class>org.dms.repository.servlets.JcrFileUploadServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>UPLOAD</servlet-name>
        <url-pattern>/jcrUpload</url-pattern>
    </servlet-mapping>
    
    <!-- ======================================================================	-->
	<!--	W E B D A V - S E R V L E T -->
	<!-- ====================================================================== -->
    <servlet>
		<servlet-name>WEBDAV</servlet-name>
		<servlet-class>org.dms.repository.servlets.JcrWebdavServlet</servlet-class>
		<init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/repository</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
        <init-param>
            <param-name>resource-config</param-name>
            <param-value>/WEB-INF/webdavconfig.xml</param-value>
            <description>
                Defines various dav-resource configuration parameters.
            </description>
        </init-param>
        <load-on-startup>4</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>WEBDAV</servlet-name>
        <url-pattern>/repository/*</url-pattern>
    </servlet-mapping>
    
    <!-- ======================================================================	-->
	<!--	R E M O T I N G -->
	<!-- ====================================================================== -->
    <servlet>
		<servlet-name>REMOTING</servlet-name>
		<servlet-class>org.dms.repository.servlets.JcrRemotingServlet</servlet-class>
		<init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/server</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
         <init-param>
            <param-name>repository-config</param-name>
            <param-value>/home/emanux/jackrabbit/wicket-demo/repository.xml</param-value>
            <description>the repository config location</description>
        </init-param>

        <init-param>
            <param-name>home</param-name>
            <param-value>/home/emanux/jackrabbit/wicket-demo</param-value>
            <description>the repository home</description>
        </init-param>
        <init-param>
            <param-name>resource-config</param-name>
            <param-value>/WEB-INF/server.properties</param-value>
            <description>
                Defines various dav-resource configuration parameters.
            </description>
        </init-param>
        <load-on-startup>5</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>REMOTING</servlet-name>
        <url-pattern>/server/*</url-pattern>
    </servlet-mapping>
    
	<!-- login-config>
		<auth-method>BASIC</auth-method>
	</login-config -->

</web-app>
