<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket>
<head>
	<title wicket:id="title">first page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta wicket:id="keywords" content="value"/>
	<meta wicket:id="description" content="value"/>
	<wicket:container wicket:id="meta">
		<meta wicket:id="meta-tag" content="value"/>
	</wicket:container>
	<wicket:link>
		<!-- Framework CSS -->
    	<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    	<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/>
    	<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->
	</wicket:link>
</head>
<body>
	<wicket:child/>
</body>
</html>
